@font-face {
    font-family: 'palmore';
    src: url('./assets/fonts/Palmore.otf') format('opentype');
}

@font-face {
    font-family: '12angry';
    src: url('./assets/fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'body';
    src: url('./assets/fonts/DMSans_36pt-Medium.ttf') format('truetype');
}





:root{
    --primary_color: rgb(193, 0, 0);
    --color: black;
    --text-color: white;
    --namefont : '12angry';
    --body-font: 'body'

}










body{
    font-family: var(--body-font);
    background-color: #f9f5e1bf;
}




header {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    
}

.nav-links{

    display: flex;            
    justify-content: right;   
    align-items: center;       
    list-style: none;          
    gap: 5px;
}

.nav-links a {
    text-decoration: none;
    color: var(--primary-color); 
    font-family: var(--text-font);
    font-weight: 500;
}



.nav-links li:not(:last-child)::after {
    content: "/";
    margin-left: 5px; 
    color: black;       
}


h1 {
    color: var(--primary_color);
    font-family: var(--namefont);
    font-size: 8rem;
    margin-top: -46px;
}

.role{
    font-family: var(--body-font);
     margin-top: 0;
     margin-bottom: 0;
     



}

.main_section{
    text-align: center;
    margin-top: 331px;


}

.quote{
    font-family: var(--body-font);
     margin-top: -19px;
     margin-bottom: 179px;
     font-size: 1 ;
     text-transform: uppercase;

}

.quote2{
    margin-top: 2;
}

img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 107px;


    filter: grayscale(100%) contrast(100%) brightness(0.9);
}


.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;


}

.description{
    font-size: 21px;
}

.skills-section {
    text-align: center;
    margin: 80px 0; 
}

.skills-list {
    list-style: none;      
    display: flex;          
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;        
    padding: 0;
}


.skills-list li {
    background-color: transparent;
    border: 1px solid var(--primary_color); 
    color: var(--primary_color);
    padding: 10px 25px;
    border-radius: 50px;    
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 1px;
   
}

#skills h3,#projects h3,#video h3 ,#experiences h3 {
    text-align: center;
    font-size: 2.5rem;
    text-decoration: underline;
    text-decoration-color: var(--primary_color);


}



.allprojects{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;


}

.oneproject {
    font-size: larger;
    background-color: #fff; 
    border: 1px solid rgba(0,0,0,0.1);
    padding: 30px;
    width: 300px;           
    text-align: left;
}
.oneproject:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px 0px var(--primary_color); 
}


#video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#quote{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 232px;
    margin-bottom: 200px;
}




.btn {
    margin-left: auto;
    margin-left: auto;
    margin-bottom: 176px;
    
    
    display: inline-block;       
    margin-top: -27px;            
    padding: 15px 40px;          
    
    
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;       
    
    
    background-color: transparent;
    color: var(--primary_color);
    border: 2px solid var(--primary_color);
    box-shadow: 5px 5px 0px var(--primary_color); 
    
}





/* style ABOUT.HTML */


.about{
   
    margin-top: 20px;
    margin-bottom: -24px;
}


.experiences {
    text-align: center;
    font-size: 2.5rem;
    text-decoration: underline;
    text-decoration-color: var(--primary_color);


}

.exp{
    list-style: none;
    font-size: 25px;
}

b ,dt{
    text-decoration: underline;
    text-decoration-color: var(--primary_color);
}

.expin{

    padding-bottom: 30px;
    padding-top: 30px;
}

#experiences{
    margin-bottom: 70px;
}

dt{ 
    font-size: 25px;
}
dd{
    font-size: 25px;
}

.last{
   text-align: center;
}
    